*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    overflow-x: hidden;
    text-align: center;
    overflow-y: hidden;
    -webkit-tap-highlight-color: transparent;
}

.red{
    color: red;
}

.green{
    color: green;
}

.blue{
    color: rgb(45, 45, 136);
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    transition: all 0.5s ease;
    padding: 15px 20px;
    border-radius: 50px;
}


nav{
    padding: 30px 10vw;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.on nav{
    filter: invert();
}

ul{
    width: 100%;
}

.container{
    height: 100%;
    width: 100vw;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: container-slide 1s ease forwards;
    position: fixed;
}

@keyframes container-slide {
    0%{
        transform: translateX(100%);
        opacity: 0;
    }
    
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}

button{
    padding: 15px 20px;
    text-transform: uppercase;
    font-weight: 500;
    background-color: blueviolet;
    color: #fff;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    transition: all 0.5s ease;
}

button:hover{
    padding: 15px 60px;
    background-color: rgb(57, 52, 62);
}

form{
    display: flex;
    flex-direction: column;
    width: 80vw;
    max-width: 500px;
    gap: 20px;
}

input{
    background-color: rgba(137, 43, 226, 0.367);
    border: none;
    outline: none;
    padding: 15px;
    border-radius: 10px;
    color: #fff;
    font-family: monospace;
    font-size: 18px;
    transition: all 0.5s ease;
}

input:focus, input:hover{
    background-color: rgba(137, 43, 226, 0.7);
    transition: all 0.2s ease;
}

input::placeholder{
    color: #fff;
    font-size: 18px;
    font-family: monospace;
}

form div{
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    color: indigo;
    padding: 10px 0;
}

form h3{
    text-align: center;
    color: rgb(68, 26, 68);
    margin-bottom: 10px;
    font-size: 30px;
}

label{
    font-family: monospace;
    font-size: 18px;
}

.container{
    background-color: transparent;
    padding: 0 10vw;
}

.on .container{
    filter: invert(10);
    background-color: #fff;
    transition: all 0.5s ease;
}

div{
    transition: all 0.5s ease;
}

.preloader{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    /* display: none; */
    animation: hidePreloader 3s ease forwards;
}

.oops{
    gap: 20px;
}

.oops a{
    background-color: #444;
    color: #fff;
}

a{
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

a::before{
    position: absolute;
    content: "";
    width: 50px;
    height: 50px;
    background-color: #fff4;
    transition: all 0.7s ease;
    transform: scale(0);
    border-radius: 100px;
}

nav a{
    background-color: rgb(64, 152, 224);
    color: #fff;
}

a:hover::before{
    transform: scale(4);
    transition: all 0.4s ease;
}

a.touching{
    transform: scale(1.1);
}

a.touching::before{
    transform: scale(4) !important;
    transition: all 0.7s ease;
}

.on .preloader{
    filter: invert();
}

@keyframes hidePreloader {
    0%{
        visibility: visible;
        opacity: 1;
    }
    
    80%{
        visibility: visible;
        opacity: 1;
    }
    
    100%{
        opacity: 0;
        visibility: hidden;

    }
}

.on{
    background-color: #000;
    width: 100vw;
    height: 100vh;
}

.preloader-circle{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 7px  solid #0005;
    border-bottom: 7px solid #000;
    animation: spin 1s linear forwards infinite;
}

@keyframes spin {
    0%{
        transform: rotate(-360deg);
    }
    100%{
        transform: rotate(0deg);
    }
}

@media screen and (max-width: 400px){
    .container h2{
        font-size: 19px;
    }
}

.touching{
    opacity: 0.8;
}

@media screen and (max-width: 500px) {
    a:hover::before{
        transform: scale(0);
    }
}